= form_for @item do |f|

  div
    = f.label :login
    = f.text_field :login
    - if @item.errors[:login].count > 0
      .error
        = @item.errors[:login].first

  div
    = f.label :password
    = f.password_field :password
    - if @item.errors[:password].count > 0
      .error
        = @item.errors[:password].first

  div
    = f.label :password_confirmation
    = f.password_field :password_confirmation
    .clear
    - if @item.errors[:password_confirmation].count > 0
      .error
        = @item.errors[:password_confirmation].first

  = f.submit t('dm_links.save')