tr
  td
    = user.id
  td
    = user.login

  td
    = link_to t('dm_links.edit'), authorize_d.edit_user_path(user)
    = link_to t('dm_links.delete'), user, method: :delete, data: { confirm: "#{t('dm_messages.removal_confirmation')}" }