html
  head
    title
      | AuthorizeD
    = stylesheet_link_tag    "authorize_d/application", media: "all"
    = javascript_include_tag "authorize_d/application"
    = csrf_meta_tags

  body

    ul
      li
        | User Model 1:
        - if signed_in(current_user1)
          = "#{current_user1.login} "
          = generate_sign_out_link(current_user1, authorize_d.auth_user_path)
        - else
          = link_to "Авторизоваться", auth_user_path
      li
        | User Model 2:
        - if signed_in(current_system_user)
          = "#{current_system_user.login} "
          = generate_sign_out_link(current_system_user, authorize_d.auth_system_user_path)
        - else
          = link_to "Авторизоваться", auth_system_user_path


    = yield

    = debug(params) if Rails.env.development?