= flash[:error]
= form_for(:auth_user, url: authorize_d.auth_system_user_path) do | f |

  div
    = f.label :name
    = f.text_field :name
    - if !@item.nil?
      - if @item.errors[:name].count > 0
        .error
          = @item.errors[:name].first

  div
    = f.label :password
    = f.password_field :password
    - if !@item.nil?
      - if @item.errors[:password].count > 0
        .error
          = @item.errors[:password].first

  = f.submit t('dm_links.enter'), class: "submit_btn"